<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/assets/styles/homepage.css">
        <title>Education</title>
    </head>

    <body>
        <!-- Navigation Bar -->
        <header class="navigation-bar">
            <nav class="navigation-bar-header">
                <div class="navigation-bar-container">
                    <!-- Website logo linking to the homepage -->
                    <a href="homepage.html" class="navigation-bar-logo">Nicole Varela Castillo</a>
                    <!-- Navigation links -->
                    <ul class="navigation-bar-links">
                        <li><a href="/assets/views/main/education.html">Education</a></li>
                        <li><a href="/assets/views/main/experience.html">Experience</a></li>
                        <li><a href="/assets/views/main/skills.html">Skills</a></li>
                        <li><a href="/assets/views/main/projectsView.php">Projects</a></li>
                        <li><a href="/assets/views/main/contact.html">Contact</a></li>
                    </ul>
                </div>
            </nav>
        </header>

        <!-- Main Content -->
        <main>
            <section>
                <h2>Education</h2>
                <!-- Education details -->
                <p>Fordham University, August 2021 - May 2025 | GPA: 3.6</p>
                <p><strong>Majors:</strong> BA in Economics, Minor in Computer Science, Business</p>
                <p><strong>Relevant Courses:</strong> Computer Science I & II, Econometrics, Web Design, Financial Accounting & Management, Marketing Principles, and more.</p>
            </section>
        </main>

        <!-- Footer -->
        <footer>
            <p>Nicole Varela Castillo</p>
        </footer>
    </body>

</html>
