<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/assets/styles/homepage.css">
        <title>Professional Experience</title>
    </head>

    <body>
    <!-- Navigation Bar -->
    <header class="navigation-bar">
        <nav class="navigation-bar-header">
            <div class="navigation-bar-container">
                <!-- Website logo linking to the homepage -->
                <a href="homepage.html" class="navigation-bar-logo">Nicole Varela Castillo</a>
                <!-- Navigation links -->
                <ul class="navigation-bar-links">
                    <li><a href="/assets/views/main/education.html">Education</a></li>
                    <li><a href="/assets/views/main/experience.html">Experience</a></li>
                    <li><a href="/assets/views/main/skills.html">Skills</a></li>
                    <li><a href="/assets/views/main/projectsView.php">Projects</a></li>
                    <li><a href="/assets/views/main/contact.html">Contact</a></li>
                </ul>
            </div>
        </nav>
    </header>

    <!-- Main Content -->
    <main>
        <section>
            <h2>Professional Experience</h2>
            <!-- Korn Ferry Internship Details -->
            <h3>Korn Ferry - Consulting Intern</h3>
            <p>June 2024 – July 2024 | Mexico City, Mexico</p>
            <ul>
                <li>Developed Power BI dashboards for client engagement tracking.</li>
                <li>Designed interactive data visualizations to analyze client results.</li>
                <li>Created economic analysis and tailored presentations for clients.</li>
                <li>Translated presentations into Spanish, ensuring cultural relevance.</li>
            </ul>

            <!-- WorldStrides Internship Details -->
            <h3>WorldStrides - Professional Intern</h3>
            <p>May 2022 - August 2022 | Remote</p>
            <ul>
                <li>Designed a diversity, equity, and inclusion program using data analysis.</li>
                <li>Crafted over 100 economic and business briefings.</li>
                <li>Conducted research on educational systems across 15 countries.</li>
            </ul>
        </section>
    </main>

    <!-- Footer -->
    <footer>
        <p>Nicole Varela Castillo</p>
    </footer>
    </body>

</html>
