<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/assets/styles/homepage.css">
        <title>Professional Experience</title>
    </head>

    <body>
    <!--Nav Bar-->
    <header class="navigation-bar">
        <nav class="navigation-bar-header">
            <div class="navigation-bar-container">
                <!--Return to homepage-->
                <a href="/" class="navigation-bar-logo">Nicole Varela Castillo</a>
                <!--Nav links-->
                <!--Nav links-->
                <ul class="navigation-bar-links">
                    <li><a href="/education">Education</a></li>
                    <li><a href="/experience">Experience</a></li>
                    <li><a href="/skills">Skills</a></li>
                    <li><a href="/projects">Projects</a></li>
                    <li><a href="/contact">Contact</a></li>
                </ul>
            </div>
        </nav>
    </header>

    <!--Content section-->
    <main>
        <section>
            <h2>Professional Experience</h2>
            <!--Korn Ferry internship-->
            <h3>Korn Ferry - Consulting Intern</h3>
            <p>June 2024 – July 2024 | Mexico City, Mexico</p>
            <ul>
                <li>Developed Power BI dashboards for client engagement tracking.</li>
                <li>Designed interactive data visualizations to analyze client results.</li>
                <li>Created economic analysis and tailored presentations for clients.</li>
                <li>Translated presentations into Spanish, ensuring cultural relevance.</li>
            </ul>

            <!--WorldStrides internship-->
            <h3>WorldStrides - Professional Intern</h3>
            <p>May 2022 - August 2022 | Remote</p>
            <ul>
                <li>Designed a diversity, equity, and inclusion program using data analysis.</li>
                <li>Crafted over 100 economic and business briefings.</li>
                <li>Conducted research on educational systems across 15 countries.</li>
            </ul>
        </section>
    </main>

    <!--Footer-->
    <footer>
        <p>Nicole Varela Castillo</p>
    </footer>
    </body>

</html>
