<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script type="text/javascript" src="/assets/js/homepage.js"></script>
        <link rel="stylesheet" href="/assets/styles/homepage.css">
        <title>Homepage</title>
    </head>

    <body>

        <!--Nav Bar-->
        <header class="navigation-bar">
            <nav class="navigation-bar-header">
                <div class="navigation-bar-container">
                    <!--Return to homepage-->
                    <a href="/" class="navigation-bar-logo">Nicole Varela Castillo</a>
                    <!--Nav links-->
                    <ul class="navigation-bar-links">
                        <li><a href="/education">Education</a></li>
                        <li><a href="/experience">Experience</a></li>
                        <li><a href="/skills">Skills</a></li>
                        <li><a href="/projects">Projects</a></li>
                        <li><a href="/contact">Contact</a></li>
                    </ul>
                </div>
            </nav>
        </header>

        <!--Main banner-->
        <header class="main-banner">
            <div class="main-banner-container">
                <!--Profile photo-->
                <img src="/assets/views/main/headerPhoto.png" alt="Profile Photo" class="main-banner-photo">
                <div class="main-banner-content">
                    <h1>Nicole Varela Castillo</h1>
                    <div class="main-banner-buttons">
                        <!--Contact links-->
                        <a href="mailto:Nvarelacastillo@fordham.edu" class="button">Email Me</a>
                        <a href="https://www.linkedin.com/in/nicole-varela-castillo" target="_blank" class="button">LinkedIn</a>
                    </div>
                </div>
            </div>
        </header>

        <!--Greeting based on time of day-->
        <main>
            <section>
                <div id="greeting"></div>
                <script>
                    <!--Greeting color-->
                    document.getElementById('greeting').style.color = '#B3A098';
                </script>
                <!--About me section-->
                <h2>About Me</h2>
                <p>Hi, I’m Nicole Varela Castillo, a passionate Economics and Computer Science student at Fordham University. With a strong foundation in data visualization and consulting, I’ve had the privilege to intern with Korn Ferry and WorldStrides, where I honed my skills in interactive dashboards, economic analysis, and innovative solutions. Explore my portfolio to learn more about my education, professional experiences, and creative projects!</p>
            </section>
        </main>

        <!--Footer-->
        <footer>
            <p>Nicole Varela Castillo</p>
        </footer>

    </body>

</html>
