<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/assets/styles/homepage.css">
        <title>Skills</title>
    </head>

    <body>
    <!--Nav Bar-->
    <header class="navigation-bar">
        <nav class="navigation-bar-header">
            <div class="navigation-bar-container">
                <!--Return to homepage-->
                <a href="homepage.html" class="navigation-bar-logo">Nicole Varela Castillo</a>
                <!--Nav links-->
                <ul class="navigation-bar-links">
                    <li><a href="/assets/views/main/education.html">Education</a></li>
                    <li><a href="/assets/views/main/experience.html">Experience</a></li>
                    <li><a href="/assets/views/main/skills.html">Skills</a></li>
                    <li><a href="/assets/views/main/projects.html">Projects</a></li>
                    <li><a href="/assets/views/main/contact.html">Contact</a></li>
                </ul>
            </div>
        </nav>
    </header>

    <!--Content section-->
    <main>
        <section>
            <h2>Skills</h2>
            <!--Skills list-->
            <p>Data Visualization, Power BI, Adobe Illustrator, Photoshop, C++, Microsoft Office Suite, Creative Design, Leadership, Team Collaboration.</p>
        </section>
    </main>

    <!--Footer-->
    <footer>
        <p>Nicole Varela Castillo</p>
    </footer>
    </body>

</html>
